*{
    padding:0;
    margin:0;
    overflow-x:hidden
    scroll hidden;
}

.game{
    width: 700px;
    height: 200px;
    margin: auto;  
}

#character{
    position: relative;
    top: 157px;
    left: 20px;
}

svg{
    width: 50px; 
    height: 40px;
}

.animate {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {top: 150px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 150px;}
}

#tree {
    border: 3px solid blue;
    width: 10px;
    height: 10px;
    position: relative;
    top: 140px;
    left: 500px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0%{left: 700px;}
    100%{left: -20px;}
}

p{
    width: 130px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: rgb(209, 204, 204);
    color: rgb(61, 61, 61);     
    border-radius: 10px;
}