@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    padding:0;
    margin:0;
    overflow-x:hidden
    scroll hidden
}

body {
    overflow: hidden;
}
  
.game {
    width: 700px;
    height: 200px;
    margin: auto;
    border-bottom: 2px solid rgb(112, 112, 112);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#character {
    position: relative;
    top: 0;
    left: 10px;
}

svg{
    width: 55px; 
    height: 45px;
}

.animate {
    animation: jump 0.3s linear;
}  

img{
    width: 40px;
    height: 45px;   
}
/* 
.TheSky img {
    position: relative;
    left: 350px;
} */

#trees-container {
    /* border: 1px solid rgb(195, 255, 0); */
    display: flex;
    align-items: flex-end;
    /* width: 10px;
    height: 45px;  */
}

#trees-container img {
    /* border: 1px solid red; */
    /* width: 10px; */
    
    margin: 0.0 50px; /* اضافه کردن فاصله بین درخت‌ها */
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
} 

@keyframes block {
    0%{left: 700px;}
    100%{left: -20px;}
}

.text{
   color: rgb(83, 83, 83);
   font-size: 18px;
   font-family: 'Rubik', sans-serif;
}
/* 
.text h3 {
   
} */

p{
    width: 130px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
}

.tree {
    position: absolute;
    /* bottom: 4; */
    top: 157px;
    left: 10px;

}