*{
    padding:0;
    margin:0;
    overflow-x:hidden
    scroll hidden;
}

.game{
    width: 700px;
    height: 200px;
    margin: auto; 
    border-bottom: 2px solid rgb(112, 112, 112); 

}

#character{
    position: relative;
    top: 157px;
    left: 10px;
}

svg{
    width: 55px; 
    height: 45px;
}

.animate {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {top: 150px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 150px;}
}

#tree {
    position: relative;
    top: 111px;
    left: 300px;
    animation: block 2s infinite linear;
}

img{
    width: 40px;
    height: 45px;   
}

.TheSky img {
    /* border: 1px solid red; */
    position: relative;
    /* top: 111px; */
    left: 350px;
}

@keyframes block {
    0%{left: 700px;}
    100%{left: -20px;}
}

p{
    width: 130px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
}